.ImageSlide{
    background-color: #fff;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    padding-top: 50px;
    color: #000000 !important;
}

.ImageSlide img{
    height: 100%;
    width: 200px;
}

.cardType{
    background-color: #1a3a54;
    color: white !important;
}

.text{
    margin-top: 20px;
    font-size: 15px !important;
    display: block;
    text-align: center;
    font-weight: bold;
}

.imageGroup{
    margin-right: 20px;
}

.imageGroup:last-of-type{
    margin-right: 0;
}