.Avatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #007BFF;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Avatar{
    background-color: #fff;
}

.Avatar svg{
    height: 42px;
    width: 42px;
    fill: #70707050;
}